.main-date {
  height: 40vh;
}

.main-div {
  display: flex;
  margin-left: 25%;
  width: 50%;
  height: 500px;
  padding: 10px;
  align-items: center;
  background: rgb(255, 251, 126);
}

.date-btn {
  background: transparent;
  padding: 20px;
  border: 2px solid rgb(96, 1, 128);
  color: rgb(96, 1, 128);
  font-size: 30px;
  transition: 0.5s;
}

.date-btn:hover {
  background: rgb(96, 1, 128);
  color: rgb(251, 255, 0);
}

.date {
  padding: 30px;
  font-size: 30px;
  color: rgb(96, 1, 128);
}
