.main-date {
  height: 40vh;
}

.main-div {
  display: flex;
  margin-left: 25%;
  border-radius: 50px;
  width: 50%;
  height: 500px;
  padding: 10px;
  align-items: center;
  background: cyan;
}

.date-btn {
  border: none;
  font-size: 30px;
  border-radius: 30px;
  color: rgb(96, 1, 128);
  padding: 20px;
  transition: 0.5s;
}

.date-btn:hover {
  background: rgb(96, 1, 128);
  color: cyan;
}

.date {
  padding: 30px;
  font-size: 30px;
  color: rgb(96, 1, 128);
}
