* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 2.5%;
  background: url("https://www.wallpaperimageshd.com/uploads/2020/03/13/blue-and-black-bokeh-wallpaper.jpg");
  background-size: cover;
}

.container h1 {
  font-size: 50px;
  color: rgb(255, 255, 255);
}

input {
  width: 30%;
  padding: 10px;
  margin: 5px 0 20px 0;
  display: block;
  border-radius: 8px;
  font-size: 25px;
  text-align: center;
  outline: none;
  transition: 0.3s;
  color: white;
  border: 2px solid rgb(177, 177, 177);
}

input:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 10px 2px dodgerblue;
}

.container input,
.container label {
  margin-left: 35%;
  background: none;
}
.container label {
  color: rgb(202, 202, 202);
  font-size: 25px;
}

hr {
  border: 1px solid #a7a7a7;
  margin-bottom: 25px;
}

.registerbtn {
  background: none;
  color: white;
  font-size: 25px;
  padding: 15px 20px;
  margin: 0 44%;
  border: 2px solid dodgerblue;
  cursor: pointer;
  width: 10%;
  transition: 1s;
}

.registerbtn:hover {
  background: dodgerblue;
  border-radius: 30px;
}

h2 {
  font-size: 15px;
  color: rgb(255, 255, 255);
  width: 30%;
  margin-left: 35%;
  letter-spacing: -1px;
  text-transform: uppercase;
  animation: blur 0.75s ease-out infinite;
  text-shadow: 0px 0px 5px rgb(247, 8, 8), 0px 0px 7px rgb(243, 8, 8);
}
